### Database configuration
MONGO_URI=mongodb://mongo:27017
MONGO_DB=cielos_despejados

### Secret key
SECRET_KEY=change-me

### Email configuration
CONTACT_EMAIL=info@cielosdespejados.es
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=noreply@cielosdespejados.es
ADMIN_EMAIL=admin@cielosdespejados.es
ADMIN_PASSWORD=change-me-admin

### CAPCHA
CAPTCHA_SITE_KEY=
CAPTCHA_SECRET_KEY=